# Ignore everything
*

# Except files with extensions
!*.*

# Ignore VSCode workspace directory
.vscode/

# Ignore MacOS DS Stores
**/.DS_Store

# Ignore clang-format file
.clang-format

# Ignore various build-based directories
bin/
obj/
res/

# But keep everything within source, regardless of extension
!src
!src/*

# Ignore generic output file(s) for console piping
out.txt
